<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekym.face_recognition_engage">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="PresIN"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Face_Recognition_Engage">
        <activity
            android:name=".Attendance_Result_Activity"
            android:exported="false" />
        <activity
            android:name=".Attendance_Scanner_Activity"
            android:exported="true" />
        <activity
            android:name=".Authentication.Forgot_Password_Activity"
            android:exported="true" />
        <activity
            android:name=".Authentication.SignUp_First_Activity"
            android:exported="true" />
        <activity
            android:name=".Authentication.SignUp_Second_Activity"
            android:exported="true" />
        <activity
            android:name=".Authentication.SignIn_Activity"
            android:exported="true" />
        <activity
            android:name=".Introduction.Splash_Screen_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduction.onboarding"
            android:exported="true" />
        <activity
            android:name=".HomeScreen"
            android:exported="true" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>